{# @var \BuzzingPixel\Ansel\Field\Settings\Craft\FieldSettingsRenderModel model #}
{# @var \BuzzingPixel\Ansel\Translations\TranslatorContract translator #}

{% import "_includes/forms" as forms %}

<div style="max-width: 500px;" class="ansel_field_settings_general">
    <input type="hidden" name="fieldSettings[placeholder]">
    {% if not model.hideSourceSaveInstructions %}
        <div class="field">
            <div class="heading">
                <label>{{ model.uploadSaveDirExplanation|raw }}</label>
                <div class="instructions">
                    <p>{{ model.uploadSaveDirHide|raw }}</p>
                </div>
            </div>
            <div class="input">
                <p>{{ model.uploadSaveDirExplainUpload|raw }}</p>
                <p>{{ model.uploadSaveDirExplainSave|raw }}</p>
                <p>{{ model.uploadSaveDirExplainDifferentSources }}</p>
            </div>
        </div>
    {% endif %}

    {% for fieldSetting in model.fieldSettings.asArray %}
        {# @var \BuzzingPixel\Ansel\Field\Settings\FieldSettingItemContract fieldSetting #}
        {% switch fieldSetting.type %}
            {% case 'directory' %}
                <div id="types-BuzzingPixel-AnselCms-Craft-AnselCraftField-uploadLocation-field" class="field">
                    <div class="heading">
                        <label for="{{ fieldSetting.key }}">
                            {{ translator.getLine(fieldSetting.labelTranslationKey) }}{% if fieldSetting.required %}<span class="visually-hidden">Required</span><span class="required" aria-hidden="true"></span>{% endif %}
                        </label>
                    </div>
                    <div id="types-BuzzingPixel-AnselCms-Craft-AnselCraftField-uploadLocation-instructions" class="instructions">
                        <p>{{ translator.getLine(fieldSetting.descriptionTranslationKey) }}</p>
                    </div>
                    <div class="input ltr">
                        <div class="ansel_select_dropdown">
                            <select
                                style="width: 100%;"
                                id="{{ fieldSetting.key }}"
                                name="{{ 'fieldSettings[' ~ fieldSetting.key ~ ']' }}"
                            >
                                {% for option in model.locationSelectionCollection.asArray %}
                                    <option
                                        value="{{ option.value }}"
                                        {% if fieldSetting.value == option.value %}
                                            selected
                                        {% endif %}
                                    >
                                        {{ option.label }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            {% case 'boolean' %}
                {{ forms.lightswitchField({
                    label: translator.getLine(fieldSetting.labelTranslationKey),
                    instructions: translator.getLine(fieldSetting.descriptionTranslationKey),
                    name: 'fieldSettings[' ~ fieldSetting.key ~ ']',
                    id: fieldSetting.key,
                    on: fieldSetting.value,
                    required: fieldSetting.required,
                    errors: [],
                }) }}
            {% case 'integer' %}
                {{ forms.textField({
                    label: translator.getLine(fieldSetting.labelTranslationKey),
                    instructions: translator.getLine(fieldSetting.descriptionTranslationKey),
                    name: 'fieldSettings[' ~ fieldSetting.key ~ ']',
                    id: fieldSetting.key,
                    value: fieldSetting.value > 0 ? fieldSetting.value : '',
                    required: fieldSetting.required,
                    size: 20,
                    errors: [],
                }) }}
            {% default %}
                {{ forms.textField({
                    label: translator.getLine(fieldSetting.labelTranslationKey),
                    instructions: translator.getLine(fieldSetting.descriptionTranslationKey),
                    name: 'fieldSettings[' ~ fieldSetting.key ~ ']',
                    id: fieldSetting.key,
                    value: fieldSetting.value,
                    required: fieldSetting.required,
                    size: 20,
                    errors: [],
                }) }}
        {% endswitch %}
    {% endfor %}
</div>
<div
    class="craft_field_settings_fields ansel_mt-6"
>
    <input
        type="hidden"
        name="fieldSettings[customFields]"
        class="customFields"
        data-existing-fields="{{ model.fieldSettings.customFields.asJson }}"
    >
</div>
