{# @var \BuzzingPixel\Ansel\Field\Field\FieldRenderModel model #}

{% set fieldNameRoot = fieldNameRoot ?? '' %}

<div class="ansel_field">
    <input
        type="hidden"
        name="{{ fieldNameRoot }}[placeholder]"
        class="ansel_field_input_placeholder"
        data-field-name-root="{{ fieldNameRoot }}"
    >
    <span
        class="ansel_field_settings"
        data-json='{{ model.fieldSettings|json_encode|raw }}'
    ></span>
    <span
        class="ansel_field_custom_fields"
        data-json='{{ model.customFields|json_encode|raw }}'
    ></span>
    <span
        class="ansel_field_parameters"
        data-json='{{ model.parameters|json_encode|raw }}'
    ></span>
    <span
        class="ansel_translations"
        data-json='{{ model.translations|json_encode|raw }}'
    ></span>
    <span
        class="ansel_platform"
        data-json='{{ model.platform|json_encode|raw }}'
    ></span>
    <div
        class="ansel_bg-gray-50 ansel-field-working ansel_border ansel_border-gray-200 ansel_border-solid ansel_relative ansel_mt-10"
    >
        <div class="ansel_px-6 ansel_py-16 ansel_text-gray-500 ansel_text-center">Loading&hellip;</div>
    </div>
</div>
