{# @var \BuzzingPixel\Ansel\Field\Settings\Craft\FieldSettingsRenderModel model #}
{# @var \BuzzingPixel\Ansel\Translations\TranslatorContract translator #}

<div style="max-width: 500px;" class="ansel_field_settings_general">
    <input type="hidden" name="ansel[fieldSettings][placeholder]">
    {% if not model.hideSourceSaveInstructions %}
        <fieldset>
            <div class="field-instruct">
                <label>{{ model.uploadSaveDirExplanation|raw }}</label>
                <p>{{ model.uploadSaveDirExplainUpload|raw }}</p>
                <p>{{ model.uploadSaveDirExplainSave|raw }}</p>
                <p>{{ model.uploadSaveDirExplainDifferentSources }}</p>
            </div>
        </fieldset>
    {% endif %}

    {% for fieldSetting in model.fieldSettings.asArray %}
        {# @var \BuzzingPixel\Ansel\Field\Settings\FieldSettingItemContract fieldSetting #}
        {% set fieldName = 'ansel[fieldSettings][' ~ fieldSetting.key ~ ']' %}
        <fieldset
            {% if fieldSetting.required %}
            class="fieldset-required"
            {% endif %}
        >
            {% switch fieldSetting.type %}
                {% case 'directory' %}
                    <div class="field-instruct">
                        <label for="{{ fieldName }}">{{ translator.getLine(fieldSetting.labelTranslationKey) }}</label>
                        <em>{{ translator.getLine(fieldSetting.descriptionTranslationKey) }}</em>
                    </div>
                    <div class="field-control ansel_select_dropdown">
                        <select
                            style="width: 100%;"
                            id="{{ fieldName }}"
                            name="{{ fieldName }}"
                        >
                            {% for option in model.locationSelectionCollection.asArray %}
                                <option
                                    value="{{ option.value }}"
                                    {% if fieldSetting.value == option.value %}
                                    selected
                                    {% endif %}
                                >
                                    {{ option.label }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                {% case 'boolean' %}
                    <div class="field-instruct">
                        <label>{{ translator.getLine(fieldSetting.labelTranslationKey) }}</label>
                        <em>{{ translator.getLine(fieldSetting.descriptionTranslationKey) }}</em>
                    </div>
                    <div class="field-control">
                        <button
                            type="button"
                            class="toggle-btn {% if fieldSetting.value %}on{% else %}off{% endif %} yes_no"
                            data-toggle-for="{{ fieldName }}"
                            data-state="{% if fieldSetting.value %}on{% else %}off{%  endif %}"
                            role="switch"
                            aria-checked="{% if fieldSetting.value %}true{% else %}false{% endif %}"
                        >
                            <input
                                type="hidden"
                                name="{{ fieldName }}"
                                value="{% if fieldSetting.value %}y{% else %}n{% endif %}"
                            >
                            <span class="slider"></span>
                        </button>
                    </div>
                {% case 'integer' %}
                    <div class="field-instruct">
                        <label for="{{ fieldName }}">{{ translator.getLine(fieldSetting.labelTranslationKey) }}</label>
                        <em>{{ translator.getLine(fieldSetting.descriptionTranslationKey) }}</em>
                    </div>
                    <div class="field-control">
                        <input
                            id="{{ fieldName }}"
                            type="text"
                            name="{{ fieldName }}"
                            value="{{ fieldSetting.value > 0 ? fieldSetting.value : '' }}"
                        >
                    </div>
                {% default %}
                    <div class="field-instruct">
                        <label for="{{ fieldName }}">{{ translator.getLine(fieldSetting.labelTranslationKey) }}</label>
                        <em>{{ translator.getLine(fieldSetting.descriptionTranslationKey) }}</em>
                    </div>
                    <div class="field-control">
                        <input
                            id="{{ fieldName }}"
                            type="text"
                            name="{{ fieldName }}"
                            value="{{ fieldSetting.value }}"
                        >
                    </div>
            {% endswitch %}
        </fieldset>
    {% endfor %}
</div>
<div
    class="ee_field_settings_fields"
>
    <input
        type="hidden"
        name="ansel[fieldSettings][customFields]"
        class="customFields"
        data-existing-fields="{{ model.fieldSettings.customFields.asJson }}"
    >
</div>
